body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-content {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.left-section {
    margin-left: -20px;
    flex: 2;
}

.search-filter {
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.filters {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.filters select {
    padding: 0.5rem;
    width: 100%;
    border-color: rgba(255, 99, 132, 1);
}

.product-table {
    margin-left: -25px;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-table table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
}

.product-table th {
    background-color: #f2f2f2;
}

.rightt-section {
    margin-left: -25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.charttt-container {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 12rem;
    width: 360px;
}

.metrics {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
}
